<!-- app/views/welcome/index.html.erb -->
<h1>This is the index view!</h1>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
</head>

<body>
<div class="welcome-container">
  <h1>Welcome to Viewing Party!</h1>
  <p>Search for movies and create virtual viewing parties with your friends!</p>
  
  <div class="movies-container">
    <h2>Top Rated Movies:</h2>
    <ul>
      <li>movies placeholder1</li>
      <li>movies placeholder2</li>
      <li>movies placeholder3</li>
      <li>movies placeholder4</li>
    </ul>
    <h2>Search for a movie</h2>
    <p>SEARCH field goes here</p>
  </div>
  
  <div class="vp-container">
  <h2>Create a Viewing Party</h2>
  <p>CREATE button goes here</p>
  </div>

  <div class="vp-form-container">
  <p>Viewing Party form field goes here</p>
  </div>

  <div class="vp-invite-container">
  <h2>Invite your friends</h2>
  <p>INVITE button goes here</p>
  </div>

  <div class="vp-invite-form-container">
  <p>Invite form field goes here</p>
  </div>

</div>
</body>
</html>