---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 57417294faa18214443f9153c21a0cc4
      X-Memc-Age:
      - '22028'
      X-Memc-Expires:
      - '4182'
      Etag:
      - W/"a14deb03d6b08fc2d861e2d0aa225215"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg","belongs_to_collection":{"id":1382526,"name":"Kaurismäki''s
        Proletariat Trilogy","poster_path":"/bUrReoZFLGti6ehkBW0xw8f12MT.jpg","backdrop_path":"/zAUItK1Nr473DIe8gWMsZ0DMR7L.jpg"},"budget":0,"genres":[{"id":35,"name":"Comedy"},{"id":18,"name":"Drama"},{"id":10749,"name":"Romance"},{"id":80,"name":"Crime"}],"homepage":"","id":2,"imdb_id":"tt0094675","origin_country":["FI"],"original_language":"fi","original_title":"Ariel","overview":"A
        Finnish man goes to the city to find a job after the mine where he worked
        is closed and his father commits suicide.","popularity":12.73,"poster_path":"/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg","production_companies":[{"id":2303,"logo_path":null,"name":"Villealfa
        Filmproductions","origin_country":"FI"}],"production_countries":[{"iso_3166_1":"FI","name":"Finland"}],"release_date":"1988-10-21","revenue":0,"runtime":73,"spoken_languages":[{"english_name":"Finnish","iso_639_1":"fi","name":"suomi"}],"status":"Released","tagline":"","title":"Ariel","video":false,"vote_average":7.1,"vote_count":340}'
  recorded_at: Mon, 10 Feb 2025 22:54:54 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Mon, 10 Feb 2025 23:06:19 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Mon, 10 Feb 2025 23:08:29 GMT
recorded_with: VCR 6.3.1
