---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?language=en-US&page=1&query=lord%20of%20the%20rings)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - bd37b184214d9de759b242093eda2115
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '25825'
      Etag:
      - W/"980cc43fdea3f8650cdaa109ddef51be"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/ie8OSgIHEl6yQiGJ90dsyBWOpQA.jpg","genre_ids":[16,14,12,10751,28],"id":839033,"original_language":"en","original_title":"The
        Lord of the Rings: The War of the Rohirrim","overview":"A sudden attack by
        Wulf, a clever and traitorous lord of Rohan seeking vengeance for the death
        of his father, forces Helm Hammerhand, the King of Rohan, and his people to
        make a daring last stand in the ancient stronghold of the Hornburg.","popularity":747.445,"poster_path":"/cXzCOx1hUuU9CfmiEv6rXjb6EqU.jpg","release_date":"2024-12-05","title":"The
        Lord of the Rings: The War of the Rohirrim","video":false,"vote_average":6.6,"vote_count":410},{"adult":false,"backdrop_path":"/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg","genre_ids":[12,14,28],"id":122,"original_language":"en","original_title":"The
        Lord of the Rings: The Return of the King","overview":"As armies mass for
        a final battle that will decide the fate of the world--and powerful, ancient
        forces of Light and Dark compete to determine the outcome--one member of the
        Fellowship of the Ring is revealed as the noble heir to the throne of the
        Kings of[...]
